body {
    width: 100%;
    background-color: #e0dede;
}

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
	padding: 0;
}

.calc {
   font-family: Arial, Helvetica, sans-serif;
   width: 360px;
   height: 520px;
   margin: 100px auto;
   padding: 30px;
   background-color: #181818;
   color: #e0dedefb;
   border-radius: 20px;
   box-shadow: 0px 0px 4px #4f4f4f;
}

.calc-screen {
    text-align: right;
    padding-right: 2px;
    padding-top: 30px;
    margin-bottom: 30px;
    border-radius: 16px;
}

.formula {
    font-size: 20px;
    height: 30px;
}

.result {
    height: 30px;
    font-size: 34px;
}

.calc-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 11px;
}

.calc-buttons button {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    border-radius: 50%;
    border: none;
    background-color: #181818d8;
    box-shadow: 0px 0px 1.5px #838181;
    color: #e0dede;
    font-size: 18px;
    cursor: pointer;
}

.calc-buttons button:hover {
    transform: scale(0.92);
    box-shadow: 0px 0px 3px #838181;
    transition: all .4 ease-in-out;
}

.calc-buttons .giveRed {
    color: #EB6666;
}

.calc-buttons .giveBlue {
    color: #26fed69b;
}
